.flexContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.inputStyle {
	font-size: 4.5em;
	padding: 3px;
	display: inline-block;
	width: 30%;
}

h5 {
	color: #999999;
	font-family: roboto;
	font-size: 20px;
	font-weight: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}
